# Typing stubs for IDE introspection.
adafruit-circuitpython-debouncer
adafruit-circuitpython-hid
adafruit-circuitpython-ticks
circuitpython-stubs

# Used for linting / formatting automation.
pre-commit
