# Typing stubs for IDE introspection.
circuitpython-stubs
adafruit-circuitpython-hid
adafruit-circuitpython-debouncer
adafruit-circuitpython-ticks

# Used for linting / formatting automation.
pre-commit
